repository:
  name: nestjs-multitenant
  description: A multi-tenant solution for NestJS with schema-per-tenant architecture in PostgreSQL
  topics:
    - nestjs
    - multitenant
    - postgresql
    - typescript
  private: false
  has_issues: true
  has_projects: false
  has_wiki: false
  default_branch: master
  allow_squash_merge: true
  allow_merge_commit: false
  allow_rebase_merge: false
  delete_branch_on_merge: true
  enable_automated_security_fixes: true
  enable_vulnerability_alerts: true
branches:
  - name: master
    protection:
      required_pull_request_reviews:
        required_approving_review_count: 1
        dismiss_stale_reviews: true
        require_code_owner_reviews: true
        require_last_push_approval: true
      required_status_checks:
        strict: true
        contexts: []
      enforce_admins: false
      required_linear_history: true
      restrictions: null

teams:
  - name: "@reymi-tech/core-team"
    permission: admin
  - name: "@reymi-tech/opensource-maintainer"
    permission: admin
